<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
    <link rel="stylesheet" href="/css/productCRUD-style.css" type="text/css">
    <title>BiciMundo-ABM Productos</title>
</head>
<body>
    <%- include('../partials/header.ejs') %> 
    <main>
        <div class="CRUD">
            <h2>Crear Producto</h2>
            <% if (locals.errors && locals.oldData) { %>
                <%- include('../partials/createForm.ejs',{errors, oldData}) %>
            <% } else { %>
                <%- include('../partials/createForm.ejs') %>
            <% } %>
            
        </div>
    </main>
    <%- include('../partials/footer.ejs') %> 
</body>
</html>