<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
    <link rel="stylesheet" href="/css/product-style.css" type="text/css">
    <title>BiciMundo-Productos</title>
</head>
<body>
    <%- include('../partials/header.ejs') %> 
    <main>
        <section class="products-filter">
            <label class="products-filter-title" for="filter-menu">
                <h2>Filtro de Producto</h2>
                <i class="fas fa-angle-down"></i>
            </label>
            <input type="checkbox" id="filter-menu">
            <form class="products-filter-hidden" action="/productos/filtrar" method="GET">
                <div class="form-control">
                    <label class="input-label">Producto:</label>
                    <label for="bicicletas"><input type="radio" name="categoryId" value="1" id="bicicletas">Bicicletas</label>
                    <label for="accesorios"><input type="radio" name="categoryId" value="2" id="accesorios">Accesorios</label>
                </div>
                <div class="form-control">
                    <label class="input-label">Tipo de Producto:</label>
                    <label for="MTB"><input type="radio" name="typeId" value="1" id="MTB">Bicicletas de MTB</label>
                    <label for="RUTA"><input type="radio" name="typeId" value="2" id="RUTA">Bicicletas de Ruta</label>
                    <label for="casco"><input type="radio" name="typeId" value="3" id="casco">Casco</label>
                    <label for="herramientas"><input type="radio" name="typeId" value="4" id="herramientas">Herramientas</label>
                    <label for="varios"><input type="radio" name="typeId" value="5" id="varios">Varios</label>
                </div>    
                <div class="form-control">
                    <label class="input-label">Rango de precios:</label>
                    <!-- <label for="min-price">Precio mínimo:</label> -->
                    <input type="number" name="minPrice" id="min-price" placeholder="Precio mínimo">
                    <!-- <label for="max-price">Precio máximo:</label> -->
                    <input type="number" name="maxPrice" id="max-price" placeholder="Precio máximo">
                </div>   
                <div class="form-control">
                    <label class="input-label">Marca:</label>
                    <label for="Olmo"><input type="radio" name="brandId" value="1" id="Olmo">Olmo</label>
                    <label for="Venzo"><input type="radio" name="brandId" value="2" id="Venzo">Venzo</label>
                    <label for="Spy"><input type="radio" name="brandId" value="3" id="Spy">Spy</label>
                    <label for="Teknial"><input type="radio" name="brandId" value="4" id="Teknial">Teknial</label>
                    <label for="Merida"><input type="radio" name="brandId" value="5" id="Merida">Merida</label>
                    <label for="Topmega"><input type="radio" name="brandId" value="6" id="Topmega">Topmega</label>
                    <label for="Cannondale"><input type="radio" name="brandId" value="7" id="Cannondale">Cannondale</label>
                    <label for="Specialized"><input type="radio" name="brandId" value="8" id="Specialized">Specialized</label>
                    <label for="KTM"><input type="radio" name="brandId" value="9" id="KTM">KTM</label>
                    <label for="Raleigh"><input type="radio" name="brandId" value="10" id="Raleigh">Raleigh</label>
                    <label for="Polygon"><input type="radio" name="brandId" value="11" id="Polygon">Polygon</label>
                    <label for="BBB"><input type="radio" name="brandId" value="12" id="BBB">BBB</label>
                    <label for="Lazer"><input type="radio" name="brandId" value="13" id="Lazer">Lazer</label>
                    <label for="Bell"><input type="radio" name="brandId" value="14" id="Bell">Bell</label>
                    <label for="Super B"><input type="radio" name="brandId" value="15" id="Super B">Super B</label>
                    <label for="Van Halen"><input type="radio" name="brandId" value="16" id="Van Halen">Van Halen</label>
                    <label for="Shimano"><input type="radio" name="brandId" value="17" id="Shimano">Shimano</label>
                    <label for="Speedtrap"><input type="radio" name="brandId" value="18" id="Speedtrap">Speedtrap</label>
                    <label for="GT Race"><input type="radio" name="brandId" value="19" id="GT Race">GT Race</label>
                </div>     
                <div class="form-control">
                    <label class="input-label">Material:</label>
                    <label for="Aluminio"><input type="radio" name="frameId" value="1" id="Aluminio">Aluminio</label>
                    <label for="Carbono"><input type="radio" name="frameId" value="2" id="Carbono">Carbono</label>
                </div> 
                <div class="form-control">
                    <label class="input-label">Velocidades:</label>
                    <label for="16"><input type="radio" name="shiftId" value="1" id="16">16 velocidades</label>
                    <label for="18"><input type="radio" name="shiftId" value="2" id="18">18 velocidades</label>
                    <label for="20"><input type="radio" name="shiftId" value="3" id="20">20 velocidades</label>
                    <label for="21"><input type="radio" name="shiftId" value="4" id="21">21 velocidades</label>
                    <label for="22"><input type="radio" name="shiftId" value="5" id="22">22 velocidades</label>
                    <label for="24"><input type="radio" name="shiftId" value="6" id="24">24 velocidades</label>
                    <label for="27"><input type="radio" name="shiftId" value="7" id="27">27 velocidades</label>
                </div> 
                <div class="form-control">
                    <label class="input-label">Frenos:</label>
                    <label for="mechanical"><input type="radio" name="brakeId" value="1" id="mechanical">Disco mecánico</label>
                    <label for="hydraulic"><input type="radio" name="brakeId" value="2" id="hydraulic">Disco hidráulico</label>
                </div> 
                <button type="reset" class="filter-button">Limpiar</button>
                <button type="submit" class="filter-button">Filtrar</button>
            </form>

        </section>
        <section class="products-list">
            <h2>Productos</h2>
            <div class="products-list-container">
                <% if (locals.filtro) { 
                    let productsFilter = products;
                    if (filtro.minPrice == "") delete filtro.minPrice;
                    if (filtro.maxPrice == "") delete filtro.maxPrice;
                    for (key in filtro) {
                        if(key === "minPrice") {
                            productsFilter = productsFilter.filter(product => (product.price*(1-product.discount/100)) >= +filtro.minPrice); 
                        }else if (key === "maxPrice"){
                            productsFilter = productsFilter.filter(product => (product.price*(1-product.discount/100)) <= +filtro.maxPrice);
                        }else {
                            productsFilter = productsFilter.filter(product => product[key] == filtro[key]);
                        };
                    }   
                %>
                <% productsFilter.forEach(product => { %>
                        <article>
                            <a class="detail" href="/productos/detalle/<%= product.id %> ">
                                <figure>
                                    <img src="/images/<%= product.Images[0].fileName %> " alt="imagen de producto">
                                </figure>
                                <h3 class="description"><%= product.description %> </h3>
                                <p class="price">$ <% 
                                    let realPrice = product.discount ? product.price * (1-product.discount/100) : +product.price;
                                    realPrice = realPrice.toFixed(0);
                                    realPrice = toThousand(realPrice);
                                %>  <%= realPrice %>  </p>
                                <p class="cart">
                                    Agregar al carrito
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </p>
                            </a>
                        </article>
                    <% }) %>
                <% } else if(locals.busqueda) { 
                        let productsFilter = products; 
                        productsFilter = productsFilter.filter(product => product.description.includes(busqueda.toUpperCase())) 
                        
                %>

                <% productsFilter.forEach(product => { %>
                    <article>
                        <a class="detail" href="/productos/detalle/<%= product.id %> ">
                            <figure>
                                <img src="/images/<%= product.Images[0].fileName %> " alt="imagen de producto">
                            </figure>
                            <h3 class="description"><%= product.description %> </h3>
                            <p class="price">$ <% 
                                let realPrice = product.discount ? product.price * (1-product.discount/100) : +product.price;
                                realPrice = realPrice.toFixed(0);
                                realPrice = toThousand(realPrice);
                            %>  <%= realPrice %>  </p>
                            <p class="cart">
                                Agregar al carrito
                                <i class="fa-solid fa-cart-shopping"></i>
                            </p>
                        </a>
                    </article>
                <% }) %>
                <% } else { %>
                    <% products.forEach(product => { %>
                        <article>
                            <a class="detail" href="/productos/detalle/<%= product.id %> ">
                                <figure>
                                    <img src="/images/<%= product.Images[0].fileName %> " alt="imagen de producto">
                                </figure>
                                <h3 class="description"><%= product.description %> </h3>
                                <p class="price">$ <% 
                                    let realPrice = product.discount ? product.price * (1-product.discount/100) : +product.price;
                                    realPrice = realPrice.toFixed(0);
                                    realPrice = toThousand(realPrice);
                                %>  <%= realPrice %>  </p>
                                <p class="cart">
                                    Agregar al carrito
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </p>
                            </a>
                        </article>
                    <% }) %>
                <% } %>
                
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %> 
</body>
</html>