<form action="/productos/create" method="POST" enctype="multipart/form-data" class="CRUD-form">
    <div class="form-control">
        <label class="input-label">Producto:</label>
        <select name="categoryId">
            <option value="" disabled selected>- Seleccione el Producto - </option>
            <% if (categories) {%> 
            <% categories.forEach(category => { %> 
                <option value="<%=category.id%>" 
                    <%= locals.oldData && oldData.categoryId == category.id ? 'selected' : null %>
                    >
                    <%=category.name%>
                </option>
            <% }); %> 
            <% } %> 
        </select>
        <span class="feedback">
            <%= locals.errors && errors.categoryId ? errors.categoryId.msg : null %> 
        </span>
    </div>
    <diV class="form-control">
        <label class="input-label" for="type">Tipo:</label>
        <select name="typeId">
            <option value="" disabled selected>- Seleccione el Tipo - </option>
            <% if (types) {%> 
            <% types.forEach(type => { %> 
                <option value="<%=type.id%>" 
                    <%= locals.oldData && oldData.typeId == type.id ? 'selected' : null %>
                    >
                    <%=type.name%>
                </option>
            <% }); %> 
            <% } %> 
        </select>
        <span class="feedback">
            <%= locals.errors && errors.typeId ? errors.typeId.msg : null %> 
        </span>
    </diV>
    <diV class="form-control">
        <label class="input-label" for="description">Descripción:</label>
        <input type="text" name="description" id="description" required value="<%= locals.oldData && oldData.description %>">
        <span class="feedback">
            <%= locals.errors && errors.description ? errors.description.msg : null %> 
        </span>
    </diV>
    <div class="form-control">
        <label class="input-label" for="product-image">Carga la foto del producto</label>
        <input class="file" type="file" name="image" id="product-image"  accept=".jpg, .png" multiple>
        <span class="feedback">
            <%= locals.errors && errors.image ? errors.image.msg : null %> 
        </span>
    </div>
    <div class="form-control">
        <label class="input-label" for="price">Precio:</label>
        <input type="number" name="price" id="price" required value="<%= locals.oldData && oldData.price %>" />
        <span class="feedback">
            <%= locals.errors && errors.price ? errors.price.msg : null %> 
        </span>
    </div>
    <div class="form-control">
        <label class="input-label" for="discount">Descuento:</label>
        <input type="number" name="discount" id="discount" placeholder="0" value="<%= locals.oldData && oldData.discount %>"/>
        <span class="feedback">
            <%= locals.errors && errors.discount ? errors.discount.msg : null %> 
        </span>
    </div>
    <diV class="form-control">
        <label class="input-label" for="brand">Marca:</label>
        <select name="brandId">
            <option value="" disabled selected>- Seleccione la Marca - </option>
            <% if (brands) {%> 
            <% brands.forEach(brand => { %> 
                <option value="<%=brand.id%>" 
                    <%= locals.oldData && oldData.brandId == brand.id ? 'selected' : null %>
                    >
                    <%=brand.name%>
                </option>
            <% }); %> 
            <% } %> 
        </select>
        <span class="feedback">
            <%= locals.errors && errors.brandId ? errors.brandId.msg : null %>
        </span>
    </diV>
    <diV class="form-control">
        <label class="input-label" for="model">Modelo:</label>
        <input type="text" name="model" id="model" value="<%= locals.oldData && oldData.model %>">
        <span class="feedback">
            <%= locals.errors && errors.model ? errors.model.msg : null %> 
        </span>
    </diV>
    <diV class="form-control">
        <label class="input-label" for="size">Talle:</label>
        <select name="sizeId">
            <option value="" disabled selected>- Seleccione el Talle - </option>
            <% if (sizes) {%> 
            <% sizes.forEach(size => { %> 
                <option value="<%=size.id%>" 
                    <%= locals.oldData && oldData.sizeId == size.id ? 'selected' : null %>
                    >
                    <%=size.name%>
                </option>
            <% }); %> 
            <% } %> 
        </select>
        <span class="feedback"></span>
    </diV>
    <diV class="form-control">
        <label class="input-label" for="color">Color:</label>
        <select name="colorId">
            <option value="" disabled selected>- Seleccione el Color - </option>
            <% if (colors) {%> 
            <% colors.forEach(color => { %> 
                <option value="<%=color.id%>" 
                    <%= locals.oldData && oldData.colorId == color.id ? 'selected' : null %>
                    >
                    <%=color.name%>
                </option>
            <% }); %> 
            <% } %> 
        </select>
        <span class="feedback"></span>
    </diV>
    <div class="form-control">
        <label class="input-label" for="rolled">Rodado:</label>
        <select name="wheelSizeId">
            <option value="" disabled selected>- Seleccione el Rodado - </option>
            <% if (wheelSizes) {%> 
            <% wheelSizes.forEach(size => { %> 
                <option value="<%=size.id%>" 
                    <%= locals.oldData && oldData.wheelSizeId == size.id ? 'selected' : null %>
                    >
                    <%=size.number%>
                </option>
            <% }); %> 
            <% } %> 
        </select>
        <span class="feedback"></span>
    </div>
    <diV class="form-control">
        <label class="input-label" for="frame">Estructura:</label>
        <select name="frameId">
            <option value="" disabled selected>- Seleccione la Estructura - </option>
            <% if (frames) {%> 
            <% frames.forEach(frame => { %> 
                <option value="<%=frame.id%>" 
                    <%= locals.oldData && oldData.frameId == frame.id ? 'selected' : null %>
                    >
                    <%=frame.name%>
                </option>
            <% }); %> 
            <% } %> 
        </select>
        <span class="feedback"></span>
    </diV>
    <diV class="form-control">
        <label class="input-label" for="shifter">Cambios:</label>
        <select name="shiftId">
            <option value="" disabled selected>- Seleccione la cantidad de Cambios - </option>
            <% if (shifts) {%> 
            <% shifts.forEach(shift => { %> 
                <option value="<%=shift.id%>" 
                    <%= locals.oldData && oldData.shiftId == shift.id ? 'selected' : null %>
                    >
                    <%=shift.number%>
                </option>
            <% }); %> 
            <% } %> 
        </select>
        <span class="feedback"></span>
    </diV>
    <diV class="form-control">
        <label class="input-label" for="brakes">Frenos:</label>
        <select name="brakeId">
            <option value="" disabled selected>- Seleccione el tipo de Freno - </option>
            <% if (brakes) {%> 
            <% brakes.forEach(brake => { %> 
                <option value="<%=brake.id%>" 
                    <%= locals.oldData && oldData.brakeId == brake.id ? 'selected' : null %>
                    >
                    <%=brake.type%>
                </option>
            <% }); %> 
            <% } %> 
        </select>
        <span class="feedback"></span>
    </diV>
    <diV class="form-control">
        <label class="input-label" for="suspension">Suspensión:</label>
        <select name="suspensionId">
            <option value="" disabled selected>- Seleccione la Suspensión - </option>
            <% if (suspentions) {%> 
            <% suspentions.forEach(suspention => { %> 
                <option value="<%=suspention.id%>" 
                    <%= locals.oldData && oldData.suspensionId == suspention.id ? 'selected' : null %>
                    >
                    <%=suspention.type%>
                </option>
            <% }); %> 
            <% } %> 
        </select>
        <span class="feedback"></span>
    </diV>
    <diV class="form-control">
        <label class="input-label" for="info">Info Adicional:</label>
        <textarea name="info" id="info" cols="30" rows="10"><%= locals.oldData && oldData.info %></textarea>
        <span class="feedback"></span>
    </diV>
    <div class="submit-form">
        <button type="reset">Limpiar</button>    
        <button type="submit">Confirmar</button>
    </div>
</form>