<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
    <link rel="stylesheet" href="/css/login-style.css" type="text/css">
    <title>BiciMundo-Ingresar</title>
</head>
<body>
    <%- include('../partials/header.ejs') %> 
    <main>
        <section class="login-container">
            <h2 class="login-header">ACCEDER</h2>
            <form class="login-form" method="POST" action="/usuarios/ingresar">
                <div>
                    <label for="username">Usuario/mail:</label>
                    <input type="text" name="username" placeholder="johndow@mail.com" id="username" minLength="4" required value="<%= locals.oldData && oldData.username %>">
                    <span class="feedback">
                        <%= locals.errors && errors.username ? errors.username.msg : null %> 
                    </span>
                </div>
                <div>
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" id="password" minLength="8" required>
                    <span class="feedback">
                        <%= locals.errors && errors.password ? errors.password.msg : null %>
                    </span> 
                </div>
                <div>
                    <label for="rememberUser" class="rememberUser">
                        <input type="checkbox" name="rememberUser" id="rememberUser">
                        Recordarme
                    </label>
                </div>
                <button type="submit">Iniciar sesión<i class="fa-solid fa-lock-keyhole"></i> </button>
            </form>
            <h3><a href="#">Olvide mi contraseña</a></h3>
            <h3>No tenes cuenta? <a href="/usuarios/registro">Crear cuenta</a></h3>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %> 
</body>
</html>